---
import Layout from "../../layouts/Layout.astro";
import { getFilm, getInvite } from "../../../backend/backend.mjs";

const { id } = Astro.params;
const film = await getFilm(id);
console.log(film);
const invite = await getInvite(film.accompagner);
console.log(invite);
const annee_string = String(film.annee_sortie);
---

<Layout
    titre={film.titre}
    photo_URL={film.photo_URL}
    infos={[annee_string, film.duree + " min", film.genre[0]]}
>
    <div class="flex flex-col gap-8">
        <div class="flex gap-4">
            <img
                class="w-[125px] h-[175px] object-cover"
                src={film.affiche_URL}
                alt="Affiche du film"
            />
            <div class="flex flex-col gap-2">
                <p class="font-heading text-xl">{film.titre}</p>
                <div class="flex gap-2 text-sm">
                    <p>{annee_string}</p>
                    <p>{film.duree} min</p>
                </div>
                <div
                    class="flex flex-wrap gap-2 text-xs font-semibold *:border-1 *:rounded-md *:p-1"
                >
                    {film.genre.map((gen) => <p>{gen}</p>)}
                </div>
                <p class="text-xs">Acteurs : {film.liste_acteurs}</p>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <h3>Synopsis</h3>
            <p>{film.description}</p>
        </div>
        <div class="flex w-fit self-center gap-4 justify-end border-1 rounded-lg p-2 shadow-lg">
            <p class="text-sm">Ce film vous sera présenté par notre super invité.e <a href={`/invites/${invite.id}`}>{invite.prenom} {invite.nom}</a> </p>
            <img
                class="w-[100px] h-[125px] object-cover rounded-md"
                src={invite.photo_URL}
                alt="Photo portrait de l'accompagnateur"
            />
        </div>
        <a href="/films" class="btn self-end">Voir les autres films</a>
    </div>
</Layout>
