---
import Layout from "../../layouts/Layout.astro";
import { getInvite, getActivitesAndFilmsById } from "../../../backend/backend.mjs";
import Carousel from "../../components/Carousel.astro";
import CardCarousel from "../../components/CardCarousel.astro";

const { id } = Astro.params;
const invite = await getInvite(id);
console.log(invite);
const events = await getActivitesAndFilmsById(id);
console.log(events);
---

<Layout titre={invite.prenom + " " + invite.nom} infos={[invite.role]}>
    <div class="flex flex-col gap-8">
        <div class="flex gap-4">
            <img
                class="w-[150px] h-[150px] object-cover"
                src={invite.photo_URL}
                alt="Affiche du film"
            />
            <div class="flex flex-col gap-2">
                <p class="font-heading text-xl">{invite.prenom} {invite.nom}</p>
                <p class="text-sm">{invite.role}</p>
                <p>
                    est l'un.e des invités spéciaux pour la première édition du
                    festival !
                </p>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <h3>Présentation</h3>
            <p>{invite.biographie}</p>
        </div>
        <div class="flex static flex-col">
            <h3>Films et activités</h3>
            <Carousel>
                {events.map((event) => <CardCarousel {...event} unique={events.length == 1 ? true : false} lien={event.collectionName === "FILM" ? `/films/${event.id}` : `/activites/${event.id}`}/>)}
            </Carousel>
        </div>
        <a href="/invites" class="btn self-end">Voir les autres invités</a>
    </div>
</Layout>
