---
const { titre, photo_URL, description, lien, unique } = Astro.props;
---

<artcile class="flex flex-col gap-2 w-fit border p-2 rounded-lg snap-center">
    <a class={unique? "w-full lg:w-[400px]" : 'w-[300px] lg:w-[400px]'} href={lien}>
        <img class="w-full h-[150px] object-cover rounded-md
        lg:h-[200px]" 
        src={photo_URL} 
        alt="Photo d'illustration de la section" 
        loading="lazy"/>
    </a>
    <p class="font-heading font-light text-lg">{titre}</p>
    <p class="line-clamp-3">{description}</p>
    <a class="btn_discret self-end" href={lien}>Y aller</a>
</article>
