---
import Layout from "../../layouts/Layout.astro";
import CardFeaturing from "../../components/CardFeaturing.astro";
import { getActivite, getInvite } from "../../../backend/backend.mjs";

const { id } = Astro.params;
const activite = await getActivite(id);
console.log(activite);
const invite = await getInvite(activite.encadrer);
console.log(invite);
---

<Layout titre={activite.titre}>
    <section class="section flex-row">
            <img
                class="w-1/2 h-[150px] object-cover"
                src={activite.photo_URL}
                alt="Illustration de l'activité"
                loading="lazy"
            />
            <div class="flex flex-col gap-2">
                <p class="font-heading text-xl">{activite.titre}</p>
                <div
                    class="flex flex-wrap gap-2 text-xs font-semibold *:border-1 *:rounded-md *:p-1"
                >
                    <p>{activite.type}</p>
                </div>
                <p class="text-xs">
                    {"Le " + activite.jour + " à " + activite.heure}
                </p>
            </div>
    </section>
    <section class="section">
            <h3>Présentation</h3>
            <p>{activite.description}</p>
    </section>
    <CardFeaturing {...invite} filmBool={false}/>
    <a href="/programme" class="btn self-end">Voir tout le programme</a>
</Layout>
