---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";

const { titre, photo_URL, infos } = Astro.props;
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{titre ? `${titre} — Ciné Flash 25` : "Ciné Flash 25"}</title>
    </head>

    <body>
        <Header />
        <main class="p-8 mt-16 bg-light-gray">
            <Hero titre={titre} photo_URL={photo_URL} infos={infos} />
            <div class="flex flex-col gap-10
            lg:grid lg:grid-cols-[repeat(6,100px)] lg:gap-12 lg:mx-auto lg:w-fit lg:max-w-screen-xl lg:my-12 lg:justify-self-center">
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>
